@tailwind base;
@tailwind components;
@tailwind utilities;

.bg__img {
  background: url("/glassesImage/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
